/* Icons */
@import url("");

/* Google Font */
@import url("");

/* #region Customization */
:root {
  --highlightYellow: yellow; /* can't name it --yellow? */
  --normalTextColor: #123652;
}

/* custom classes for display */
.sectionBG {
  background-color: #243969;
}
/* #endregion */

/* #region Navigation */
nav {
  background-color: #b7e0ff;
}

#DonateButton {
  border-radius: 20%;
  background-color: var(--highlightYellow);
}

#pageLinks {
  width: 600px; /* possibly better to use fix pixel size than percentage */
}
/* #endregion */

/* #region Header */
header {
  height: 5em;
  margin: auto;
  position: relative;
}

#TitleText {
  display: inline;
  color: var(--highlightYellow);
  letter-spacing: 0.3em;
  margin-left: 0.2em;

  /* for align center vertically */
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#TagLine {
  display: inline;
  color: var(--highlightYellow);
  text-decoration: underline;
  float: right;
  margin-top: 0.5em;
  margin-right: 2em;
}
/* #endregion */

/* #region Mission Statement */
#Mission {
  padding: 1em;
}

#MissionTitle {
  color: var(--highlightYellow);
  text-align: center;
}

#MissionDescriptionWrapper {
  width: 29em;
  margin-left: auto;
  margin-right: auto;
}

#MissionDescription {
  color: #9cb8cd;
  font-size: large;
  text-align: center;
}
/* #endregion */

/* #region About Us and Leadership */

#AboutUs {
  color: var(--normalTextColor);
  padding: 3em 3em 0;
}

#AboutUsTitle {
  text-align: center;
}

#AboutUsDescription {
  font-size: large;
  text-align: justify;
}

#Leadership {
  color: var(--normalTextColor);
  padding: 3em 3em 0;
}

#LeadershipTitle {
  text-align: center;
}

#LeadershipImg {
  float: left;
  padding-right: 1em;

  /* resize image */
  max-width: 40%;
  height: auto;
}

#LeadershipDescription {
  font-size: large;
  text-align: justify;
}
/* #endregion */

@media (max-width: 991px) {
  /* make text smaller when screen too small */
  #TitleText {
    font-size: xx-large;
  }

  #TagLine {
    font-size: small;
  }

  /* display the content of hamburger menu last */
  #navbarSupportedContent {
    order: 1;
  }
}
